<app-navbar></app-navbar>
<div class="position-relative">
  <section class="section section-dark section-shaped pb-250">
    <div class="container py-lg-md d-flex">
      <h1 class="display-3  text-white">Library Entry</h1>
      <h2 style="margin: auto" class="text-white" > </h2>
      <button class="btn btn-success bg-dark" style="width:auto" (click)="addvisitor()"> Add visitor</button>
    </div>
  
  <div class="panel panel-primary text-white bg-dark" style="width:auto" >
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <table id="example" class="table table-striped text-white" >
  
          <thead>
            <tr>
              <th >Id</th>
              <th >Name</th>
              <th >Mobile</th>
              <th >Date</th>
              <th >In Time</th>
              <th>Out Time</th>
              <th>Update</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reg of register | async">
                <td>{{reg.id}}</td>
              <td>{{reg.name}}</td>
              <td>{{reg.mobile}}</td>
              <td>{{reg.date}}</td>
              <td>{{reg.intime}}</td>
              <td>{{reg.outtime}}</td>
              
                <td>
                  <button style='margin-right:16px' (click)="editvisitor(reg.id)" class="btn btn-success bg-dark" style="margin-left: 10px">update</button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </section>
</div>