<div class="col-md-6 user-container" style="width: auto; margin-left: auto; margin-right: auto;">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Books</h3>
          <br />
          <button class="btn btn-success" style="grid-auto-flow: row;" (click)="books()">Books</button><br><br>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Newspapers</h3>
          <br />
          <button class="btn btn-success" style="grid-auto-flow: row;" (click)="Newspapers()">Newspapers</button><br><br>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Magazines</h3>
        <br />
          <button class="btn btn-success" style="grid-auto-flow: row;" (click)="Magazines()">Magazines</button><br><br>
      </div>
    </div>

    
    
  

  


    <nav class="navbar bg-light">
        <a class="btn btn-danger" style="width:100px" href="">Log out</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
  </div>