<app-navbar></app-navbar>
<div class="position-relative">
    <section class="section   section-shaped pb-250">
      <div class=" container w-50 p-3 py-lg-md d-flex">
        <h1 class="display-3   text-dark ">Search The Book You Want</h1>
      </div>
        <div class=" container w-50 p-3">
        <div class=" text-dark form">
        <div class="form-group ">
            <input type="text" placeholder="Enter Title" class="form-control  " name="title" [(ngModel)]="title">
        </div>
        <div class="text-center ">
            <button type="button" class="btn btn-info  " (click)="searchBook()">Search</button>
        </div>
        <div class=" container w-50 p-3 py-lg-md d-flex">
            <h2 class="display-3   text-dark" *ngIf="showBooksTable">Results</h2>
          </div>
  
        </div>

    </div>
    
        <div *ngIf="showBooksTable">
 
        <table class="table table-striped  text-dark">

            <thead >
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Publisher</th>
                    <th>Floor_No</th>
                    <th>Shelf_No</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.genre}}</td>
                    <td>{{book.publisher}}</td>
                    <td>{{book.floor_no}}</td>
                    <td>{{book.shelf_no}}</td>

                </tr>
            </tbody>
        </table>
    </div>
   
        
    </section>

</div>