<app-navbar></app-navbar>
<section class="section   section-shaped pb-250">
<div class="container-fluid">
    <div class="col-md-offset-1">
      <h2 class="text-center  text-dark">
        <kbd>Welcome to Digital Library</kbd>
      </h2><br>
  
      <img class="float-right" src="assets\img\Library22.jpg" alt="Chania" width="1000" height="400">
      
    </div>
    <br>
    <br>
    <br>
    <br>

    
      <br>
      <a style="-ms-layout-grid-mode: 5px" routerLink="/add-Library"><button type="button" class="btn btn-info  ">Add Floor</button></a> <br>
      <br>
      <a style="-ms-layout-grid-line:20px" routerLink="/search-Floor"><button type="button" class="btn btn-success  ">Search Floor </button></a><br>
      <br>
    <br/>
     <br/>
   
    </div>
<br>
<br>
<br>
<br>
<br>
<div class="position-relative">
  <div class="container py-lg-md d-flex">
    <h1 class="display-3   text-dark ">LIBRARY DESIGN</h1>
  </div>
      <table  class="table table-striped  text-dark">
        <thead>
        <tr>
          
          <th class="hidden">Floor_No</th>
          <th scope="col">No_Of_Shelfs</th>
          <th scope="col">No_Of_Books</th>
          <th scope="col">No_Of_Magazines</th>
          <th scope="col">No_Of_NewsPapers</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
        <tbody>
             <tr *ngFor="let library of library | async" class="success">
                <td class="hidden">{{library.floor_no}}</td>
                <td class="hidden">{{library.no_shelfs}}</td>
                <td class="hidden">{{library.no_books}}</td>
                <td class="hidden">{{library.no_magazines}}</td>
                <td class="hidden">{{library.no_newspapers}}</td>
                <td><button class="btn btn-primary  " style="margin: 5px" (click)="updateLibrary(library.floor_no)">Update</button>
                    <button class="btn btn-danger  " style="margin: 5px" (click)="deleteLibrary(library.floor_no)">Delete</button></td>
             </tr>
        </tbody>
      </table>
      </div>
    </section>