<app-navbar></app-navbar>
<div class="position-relative">
    <section class="section section-dark section-shaped pb-250">
      <div class="container py-lg-md d-flex">
        <h1 class="display-3  text-white">SEARCH HERE</h1>
        <h2 style="margin: auto" class="text-white" > </h2>
        <button class="btn btn-success bg-dark" style="width:auto" (click)="searchBook()">BOOKS</button>
        <button class="btn btn-success bg-dark" style="width:auto" (click)="searchMagazine()">MAGAZINES</button>
        <button class="btn btn-success bg-dark" style="width:auto" (click)="searchNewspaper()">NEWS PAPERS</button>
      </div>
    </section>
</div>