<app-navbar></app-navbar>
<div class="position-relative">
    <section class="section   section-shaped pb-250">
      <div class=" container w-50 p-3 py-lg-md d-flex">
        <h1 class="display-3   text-dark">SEARCH HERE</h1>
        <h2 style="margin: auto" class=" text-dark" > </h2>
        <button class="btn btn-success  " style="width:auto" (click)="searchBook()">BOOKS</button>
        <button class="btn btn-success  " style="width:auto" (click)="searchMagazine()">MAGAZINES</button>
        <button class="btn btn-success  " style="width:auto" (click)="searchNewspaper()">NEWS PAPERS</button>
      </div>
    </section>
</div>