<div class="col-md-6 user-container" style="width: auto; margin-left: auto; margin-right: auto;">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">List of admins</h3>
          <br />
          <button class="btn btn-success" style="grid-auto-flow: row;" (click)="listMembers()"> click me to see list of Members</button><br><br>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Daily Register to track visitors</h3>
          <br />
          <button class="btn btn-success" style="grid-auto-flow: row;" (click)="dailyRegister()">click me to see Daily Register</button><br><br>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Search to find books, Newspapers and Magazines</h3>
        <br />
          <button class="btn btn-success" style="grid-auto-flow: row;" (click)="search()">click me to Search</button><br><br>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Add and update books, Newspapers and Magazines</h3>
        <br />
          <button class="btn btn-success" style="grid-auto-flow: row;" (click)="bnm()">Books, Newspapers and Magazines</button><br><br>
      </div>
    </div>
  

  
    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">About Us</h3>
        <div class="row">
          <div class="devCard col-md-3" style="padding: 5px;">
           <br>
            <h6>P.Gopichandh</h6>
          </div>
          <div class="devCard col-md-3" style="padding: 5px;">
            <br>
             <h6>k.gangadhar</h6>
           </div>
           <div class="devCard col-md-3" style="padding: 5px;">
            <br>
             <h6>R.Bhavana</h6>
           </div>
           <div class="devCard col-md-3" style="padding: 5px;">
            <br>
             <h6>G.Pavan Kumar</h6>
           </div>
          
          </div>
        </div>
      </div>


    <nav class="navbar bg-light">
        <a class="btn btn-danger" style="width:100px" href="">Log out</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
</div>