<div class="col-md-6 user-container" style="width: auto; margin-left: auto; margin-right: auto;">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">List of admins</h3>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <br />
          <button class="btn btn-success" style="grid-auto-flow: row;" (click)="listMembers()"> List Members</button><br><br>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Daily Register to track visitors</h3>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <br />
          <button class="btn btn-success" style="grid-auto-flow: row;" (click)="dailyRegister()">Daily Register</button><br><br>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Search to find books, Newspapers and Magazines</h3>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        <br />
          <button class="btn btn-success" style="grid-auto-flow: row;" (click)="search()">Search</button><br><br>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Add and remove books, Newspapers and Magazines</h3>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <br />
          <button class="btn btn-success" style="grid-auto-flow: row;" (click)="bnm()">Books, Newspapers and Magazines</button><br><br>
      </div>
    </div>
  

  
    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">About Us</h3>
        <div class="row">
          <div class="devCard col-md-3" style="padding: 5px;">
           <br>
            <h6>Mike Salvino</h6>
            <hr />
            <span class="info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              <hr />
              <a
                href="https://www.facebook.com/"
                class="fa fa-facebook"
              ></a>
              <a
                href="https://in.linkedin.com/in/"
                class="fa fa-linkedin"
              ></a>
            </span>
          </div>
          <div class="devCard col-md-3" style="padding: 5px;">
            <br>
            
            <h5>Shivani Luthra</h5>
            <hr />
            <span class="info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              <hr />
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-linkedin"></a>
            </span>
          </div>
          <div class="devCard col-md-3" style="padding: 5px;">
            <br>
            <h5>Shaivi Sinha</h5>
            <hr />
            <span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              <hr />
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-linkedin"></a>
            </span>
          </div>
          <div class="col-md-3" style="padding: 5px;">
            
                       <h5>Vaibhav Chaudhary</h5>
            <hr />
            <span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              <hr />
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-linkedin"></a>
            </span>
          </div>
        </div>
      </div>


    <nav class="navbar bg-light">
        <a class="btn btn-danger" style="width:100px" href="">Log out</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
  </div>