<div class="col-md-6 user-container" style="width: auto; margin-left: auto; margin-right: auto;">
    <h2 style="margin: auto"> User Details</h2>
    <button class="btn btn-success" style="width:100px" (click)="addUser()"> Add User</button>

    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>UserName</th>
        <th>Age</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td class="hidden">{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.username}}</td>
        <td>{{user.age}}</td>
        <td>{{user.salary}}</td>
        <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button></td>
      </tr>
      </tbody>
    </table>
    <nav class="navbar bg-light">
      <a class="btn btn-danger" style="width:100px" href="">Log out</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>