<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped pb-250  ">
      <div class=" container w-75 p-3 py-lg-md d-flex ">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-11">
              <h1 class="display-3   text-dark">Welcome to Library Management System
                <span>Please login to proceed</span>
              </h1>
              <div class=" container w-50 p-3  ">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class=" text-dark" for="username">username:</label>
        <input type="text" class="form-control  " formControlName="username" id="username" autocomplete="off" placeholder="username" autofocus>
        <div class="error text-danger" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">username is required</div>
      </div>
      <div class="form-group">
        <label class=" text-dark" for="pwd">password:</label>
        <input type="password" class="form-control  " formControlName="password" id="pwd" autocomplete="off" placeholder="password">
        <div class="error text-danger" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">password is required</div>
      </div>
      <div class="text-center">
      <button class="btn btn-success  " [disabled]="loginForm.invalid">Login</button>
    </div>
      <div *ngIf="invalidLogin" class="error">
        <div>Invalid credentials.</div>
      </div>
    </form>
  </div>

</div>
</div>
</div>
</div>

    </section>
  </div>
</main>