<div class="panel panel-primary">
  <div class="panel-heading">
      <h2>Magazine List</h2>
  
  <!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    
      <a class="nav-item nav-link" routerLink="/magazine">Magazine List</a>
      <a class="nav-item nav-link" routerLink="/add-magazine">Add Magazine</a>
  </div>
</nav>    
    
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>FloorNo</th>
            <th>ShelfNo</th>
            <th>Name</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let magazine of magazines | async">
            <td>{{magazine.id}}</td>
            <td>{{magazine.floorno}}</td>
            <td>{{magazine.shelfno}}</td>
            <td>{{magazine.name}}</td>
            <td>{{magazine.date | date:'yyyy-MM-dd'}}</td>
            <td>
                <button (click)="updateMagazine(magazine.name)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <nav class="navbar bg-light">
    <a class="btn btn-danger" style="width:100px" href="">Log out</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>