<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
     
        <a class="nav-link" class="nav-item active" class="navbar-nav ml-auto" routerLink="/home-page">Library
          <span class="sr-only">(current)</span>
        </a>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/home-page">HOME
              </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link"   routerLink="/list-user">Members List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/register">Daily Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/search">Search</a>

        
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLink="/bnm">Books, Newspapers and Magazines</a>
        </li>
       
    
        <li class="nav-item">
          <a class="nav-link" routerLink="">Login</a>
        </li>
    </ul>
    </div>
  </div>
</nav> -->


<router-outlet></router-outlet>