<!-- <div style="text-align: center">
    <h3>{{message}}</h3>
</div> -->
<app-navbar></app-navbar>
<div class="position-relative">
    <section class="section   section-shaped pb-250">
      <div class=" container w-50 p-3 py-lg-md d-flex">
        <h1 class="display-3   text-dark ">Update Magazine Data</h1>
      </div>
        <div class=" container w-50 p-3">
  <div class = " text-dark form">

              <fieldset>

                  <div class="form-group">
                      <label for="id">Id</label>
                      <input class="form-control  " type="text" [(ngModel)]="magazine.id" name="id" id="txt" required value="id"  readonly/>
              
                  </div>

                  <div class="form-group">
                      <label for="name">Name</label>
                      <input class="form-control  " type="text" [(ngModel)]="magazine.name" name="name" id="txt "  required readonly/>

                  </div>

                  <div class="form-group ">
                      <label for="date">Date</label>
                      <input class="form-control  " required type="text " [(ngModel)]="magazine.date" name="date" id="txt " readonly />
                  </div>

                  <div class="form-group ">
                      <label for="floorno ">FloorNo</label>
                      <input class="form-control   " required type="text " [(ngModel)]="magazine.floorno " name="floorno" id="txt " placeholder="Enter floor no " />
                  </div>

                  <div class="form-group ">
                      <label for="shelfno ">ShelfNo</label>
                      <input class="form-control   " required type="text " [(ngModel)]="magazine.shelfno " name="shelfno" id="txt " placeholder="Enter shelf no " />
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-success  " (click)="updateMagazine()">Update Magazine</button>
                  </div>
              </fieldset>
         