<app-navbar></app-navbar>
<div class="position-relative">
    <section class="section section-shaped pb-250">
      <div class=" container w-50 p-3 py-lg-md d-flex">
        <h1 class="display-3  text-dark ">Enter the details of new book</h1>
      </div>
        <div class=" container w-50 p-3">
            <div class = "text-dark form">
            <form name="form" [formGroup] = "form">
                  <fieldset>
                      <div class="form-group">
                          <label for="title">Title</label>
                          <input class="form-control   " type="text" [(ngModel)]="book.title" name="title" id="txt" required placeholder="Enter Title" 
                          formControlName = "title" [ngClass]="{'is-invalid':form.get('title').touched && form.get('title').invalid}"/>
                          <div class="invalid-feedback">
                              <div>Title Is Mandatory and It Should Be String</div>

                          </div>
                      </div>
  
                      <div class="form-group">
                          <label for="author">Author</label>
                          <input class="form-control   " type="text" [(ngModel)]="book.author" name="author" id="txt" required placeholder="Enter Author Name" 
                          formControlName = "author" [ngClass]="{'is-invalid':form.get('author').touched && form.get('author').invalid}"/>
                          <div class="invalid-feedback">
                              <div>Author Name Is Mandatory and It Should Be String</div>

                          </div>
                          
                      </div>

                      <div class="form-group ">
                        <label for="genre">Genre</label>
                        <input class="form-control   "  type="text " [(ngModel)]="book.genre" name="genre" id="txt " required placeholder="Enter Genre " 
                        formControlName = "genre" [ngClass]="{'is-invalid':form.get('genre').touched && form.get('genre').invalid}"/>
                          <div class="invalid-feedback">
                              <div>Genre Is Mandatory and It Should Be String</div>

                          </div>
                    </div>

                    <div class="form-group">
                        <label for="publisher">Publisher</label>
                        <input class="form-control   " type="text" [(ngModel)]="book.publisher" name="publisher" id="txt" required placeholder="Enter Publisher Name"
                        formControlName = "publisher" [ngClass]="{'is-invalid':form.get('publisher').touched && form.get('publisher').invalid}"/>
                          <div class="invalid-feedback">
                              <div>Publisher Name Is Mandatory and It Should Be String</div>

                          </div>
                    </div>

                    <div class="form-group">
                        <label for="floor_no">Floor_No</label>
                        <input class="form-control   " type="text" [(ngModel)]="book.floor_no" name="floor_no" id="txt" required placeholder="Enter Floor_No" 
                        formControlName = "floor_no" [ngClass]="{'is-invalid':form.get('floor_no').touched && form.get('floor_no').invalid}"/>
                          <div class="invalid-feedback">
                              <div>Floor Number have to Mention and It Should Be Number</div>

                          </div>
                        
                    </div>

                    <div class="form-group ">
                      <label for="shelf_no">Shelf_No</label>
                      <input class="form-control    " type="text " [(ngModel)]="book.shelf_no" name="shelf_no" id="txt " required placeholder="Enter Shelf_No "
                      formControlName = "shelf_no" [ngClass]="{'is-invalid':form.get('shelf_no').touched && form.get('shelf_no').invalid}"/>
                          <div class="invalid-feedback">
                              <div>Shelf Number have to Mention and It Should Be Numner</div>

                          </div>
                  </div>
                  
  
                     <div class="text-center">
                          <button class="btn btn-success    " type="submit " name="submit_reg "  (click)="addBook()">Add Book</button>
                      </div> 
                  </fieldset>
              </form>
            </div>
          </div>
    </section>
  
      </div>
