<app-navbar></app-navbar>
<main>
  <div class="position-relative">
    <section class="section   section-shaped pb-250">
      <div class="container py-lg-md d-flex">
      <h1 class="display-3   text-dark">Newspapers List</h1>
      <h2 style="margin: auto" class=" text-dark" > </h2>
      <button class="btn btn-success   btn-lg float-right" style="width:auto" routerLink="/add"> Add Newspaper</button>
      
      </div>   
    <br>
      
      <div class="panel-body">
        <table id="example" class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Floorno</th>
              <th>Shelfno</th>
              <th>Name</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let newspaper of newspapers | async">
               <td>{{newspaper.id}}</td>
              <td>{{newspaper.floorno}}</td>
              <td>{{newspaper.shelfno}}</td>
              <td>{{newspaper.name}}</td>
              <td>{{newspaper.date | date:'yyy-MM-dd'}}</td>
              <td>
                   <button (click)="updateNewspaper(newspaper.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</section>
</div>
</main>


